<div class="default-container">
	<div class="default-content">
		<!-- <ng-container *ngFor="let item of images; let i = index">
			<div 
				class="carousel-image"
				[ngStyle]="{'background-image': 'url(' + item + ')'}"
			>
			</div>
		</ng-container> -->
		<div 
			class="carousel-image"
			[ngStyle]="{'background-image': 'url(' + images[currentIndex] + ')'}"
		></div>

		<div class="buttons">
			<button (click)="prev()">anterior</button>
			<button (click)="next()">próximo</button>
		</div>
	</div>
</div>