.search-container {
	display: flex;
	justify-content: space-between;
	width: 590px;
	height: 40px;
	padding: 6px 30px;
	background-color: var(--theme-02);
}

input {
	background-color: var(--theme-02);
	outline: none;
}

input::placeholder {
	background-color: var(--theme-02);
	color: var(--gray-03);
}